@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.head {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;

    margin-bottom: 48.48px;
}

.container {
    margin-top: 74px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 90px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    text-align: center;

    margin-top: 70px;
    margin-bottom: 45px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-45 {
    margin-bottom: 45px;
}

.button-horizontal-group {

    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    text-align: center;
}

.button-back {
    background-color: #FFFFFF;
    color: black;
    display: block;
    border-radius: 4px;
    padding: 6px;
    height: 48px;
    border: 1px solid #E2E2E2;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.button-next {
    background-color: #4DA360;
    color: white;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 6px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.button-next-pink {
    background-color: #E8326D;
    color: white;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 6px;
    height: 48px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.form-group {
    margin-top: 15px;

}

.filter-group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 40px;
}

.form-control {
    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    font-size: 15px;

    vertical-align: middle;
}

.form-control2 {
    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    font-size: 15px;

    padding-left: 10px;

    line-height: 43px;
    background-color:#E2E2E2;
}

.form-control-large {
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    border-radius: 4px;
    width: 100%;
    height: 93px;
    font-size: 15px;
    resize: none;

    padding: 4px;
}

.form-control-horizontal {

    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    font-size: 15px;

    vertical-align: middle;

}

.time-select-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.time-select {

    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    height: 43px;
    padding: 8px 2px;
    font-size: 15px;
    line-height:20px;
    vertical-align: middle;
    width: 100px;

    margin-right: 10px;
}

.time-select select {
    width: 100%;
    height: auto; /* 높이 초기화 */
    line-height: normal; /* line-height 초기화 */
    font-family: inherit; /* 폰트 상속 */
    padding: 8px 20px; /* 여백과 높이 결정 */
    border: 0;
    opacity: 0; /* 숨기기 */
    filter: alpha(opacity=0); /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;

}


textarea::placeholder {
    font-size: 15px;
}

.form-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;

    margin-top: 40px;

}

.form-alert {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    word-break: keep-all;
    margin-top: -10px;
}

.form-alert-green {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    text-decoration-line: underline;

    color: #4DA360;
}



input::placeholder {
/*    width: 60px;
    height: 15px;*/

    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
/* identical to box height, or 15px */

}

textarea::placeholder {
/*    width: 60px;
    height: 15px;*/

    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

#adding {
    width: 100%;
    height: 100px;

    resize: none;
}


.modal-sheet .modal-dialog .modal-content {
    position: relative;
    width: 320px;
    height: 436px;
    border-radius: 10px;
    margin : auto;

    transition: bottom .75s ease-in-out;
}

.btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 276px;
    top: 22.5px;

    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}

.btn-term {
    margin-left: 6px;
    width: 16px;
    height: 16px;

    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}

.modal-header {
    margin: auto;
    border-bottom: 0;

    height: 109px;
}

.modal-title {
    position: absolute;
    width: 280px;
    height: 58px;
    left: 20px;
    top: 51px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;

    color: #000000;
}

.modal-sheet .modal-body {
    width: 100%;

    position: relative;
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #6A6A6A;

}

.term-modal-header {
    margin: auto;
    border-bottom: 0;

    height: 50px;
}

.term-modal-title {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;

    font-weight: 400;
    font-size: 20px;
    line-height: 100%;

    color: #000000;
}

.term-modal-body {
    margin-left: 10px;
    height: 345px;

    position: relative;

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: black;
}

.term-scroll {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.img-send {
    position: relative;
    width: 180px;
    height: 174px;
    margin: auto;
}

.btn-send {
    display: inline-block;
    padding: 14px 24px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 4px;
    border: none;

    width: 280px;
    height: 44px;

    background-color: #4DA360;
    color: white;
}

.modal-sheet .modal-footer {
    padding-bottom: 1rem;
    border-top: 0;
    text-align: center;

}

.close-btn {
    margin: auto;
}


/* 선물상황 라디오 버튼 */

.situationRadio input[type="radio"]{
    display:none;
}

.situationRadio input[type="radio"] + span{
    display:inline-block;
    background:none;
    cursor:pointer;

    border: 1px solid #E2E2E2;
    border-radius: 4px;
    height: 33px;
    padding:10px;
    gap: 10px;
    margin-right: 12px;

    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align:center;
    color: #8A8A8A;
}

.situationRadio input[type="radio"]:checked + span{
    border: 1.5px solid #4DA360;
    background:#F1F8E9;
    color: #4DA360;
    font-weight: bold;
}

/*이용약관 부분*/


.horizontal-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    flex-basis: content;
}

.horizontal-div-flex-start {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: content;
}

.horizontal-div-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    flex-basis: content;
}

.term-group {
    margin-bottom: 15px;
    margin-top: 45px;
}

.term-div {
    height: 18px;

    margin-top: 5px;
    margin-bottom: 8px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.term-title {
    pointer-events: none;

    font-weight: 400;
    font-size: 14px;

    color: #8A8A8A;
}

.clear-btn {
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;

}

.term-button {
    align-items: center;
    width: 16px;
    height: 16px;

    text-align: center;

    margin-left: 2px;
}

.term-check {
    width: 18px;
    height: 18px;

    border: 1px solid #8A8A8A;
}

input[class="term-check"]:checked + label span {
    background-color: #4DA360;
}

.horizontal-div-right {
    margin-left: auto;
}

.border_bottom_thin {
    border-bottom: 1px solid #E2E2E2;
}

/*order sheet*/

.sheet-head {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
}

.sheet-head-price {
    margin-top: 7px;

    font-weight: 500;
    font-size: 35px;
    line-height: 100%;

    color: #000000;
}

.sheet-body-item {
    margin-top: 23px;
}

.sheet-body-item-text {
    margin-left: 20px;

}

.sheet-body-item-text-div {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #000000;
}

.mt-5 {
    margin-top: 5px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.h-auto {
    height: auto;
}

.w-90 {
    width: 90px;
}

.sheet-img-div {
    width: 82px;
    height: 82px;

    border-radius: 4px;
}

.order-div {

    display: flex;
    justify-content: flex-start;
    flex-basis: content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 15px;

}

.order-key {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    /* grey */
    color: #8A8A8A;

}

.order-value {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #000000;

    margin-left: auto;
}

.item-img-div {
    width: 100px;
    height: 100px;

    border-radius: 4px;
    flex-grow: 0;
}

.feed-image {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    justify-content: flex-start;
    flex-basis: content;
}

.cell-title {
    border: 1px solid black;

    flex: 1 1 30%;
}
.cell-value {
    border: 1px solid black;

}

.modal { text-align: center; padding: 0!important; }

.modal:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px; }

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }

.price-button {
    box-sizing: border-box;

    display: inline-flex;

    width: auto;
    height: 30px;
    margin-right: 5px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
    color: #000000;

}

.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}