@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    margin-top: 74px;
}

.head {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;

    margin-bottom: 48.48px;
}
.button-group {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    text-align: center;

    margin-top: 70px;
    margin-bottom: 45px;
}

.button-back {
    background-color: #FFFFFF;
    color: black;
    display: block;
    border-radius: 4px;
    padding: 6px;
    height: 48px;
    border: 1px solid #E2E2E2;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.button-next {
    background-color: #4DA360;
    color: white;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 6px;
    height: 48px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.form-group {
    margin-top: 15px;

}

.filter-group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 40px;
}

.form-control {
    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    font-size: 15px;

    vertical-align: middle;
}

.form-control-large {
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    border-radius: 4px;
    width: 100%;
    height: 93px;
    font-size: 15px;
    resize: none;

    padding: 4px;
}

.form-control-horizontal {

    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    font-size: 15px;

    vertical-align: middle;

}

.time-select-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.time-select {

    border: 1px solid #E2E2E2;
    color: #8A8A8A;
    box-sizing: border-box;
    border-radius: 4px;
    height: 43px;
    font-size: 15px;

    vertical-align: middle;
    width: 100px;

    margin-right: 10px;

}

textarea::placeholder {
    font-size: 15px;
}

.form-title {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;

    margin-top: 40px;

}

.form-alert {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

    margin-top: -10px;
}

input::placeholder {
/*    width: 60px;
    height: 15px;*/

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
/* identical to box height, or 15px */

}

textarea::placeholder {
/*    width: 60px;
    height: 15px;*/

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

#adding {
    width: 100%;
    height: 100px;

    resize: none;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

.modal-sheet .modal-dialog .modal-content {
    position: relative;
    width: 320px;
    height: 436px;
    border-radius: 10px;
    margin : auto;

    transition: bottom .75s ease-in-out;
}

.btn-close {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 276px;
    top: 22.5px;

    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}

.modal-header {
    margin: auto;
    border-bottom: 0;

    height: 109px;
}

.modal-title {
    position: absolute;
    width: 280px;
    height: 58px;
    left: 20px;
    top: 51px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.modal-sheet .modal-body {
    width: 100%;

    position: relative;
    margin-top: 20px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #6A6A6A;

}

.img-send {
    position: relative;
    width: 180px;
    height: 174px;
    margin: auto;
}

.btn-send {
    display: inline-block;
    padding: 14px 24px;
    gap: 10px;
    flex-direction: row;
    justify-content: center;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 4px;
    border: none;

    width: 280px;
    height: 44px;

    background-color: #4DA360;
    color: white;



}

.modal-sheet .modal-footer {
    padding-bottom: 1rem;
    border-top: 0;
    text-align: center;

}

.close-btn {
    margin: auto;
}


/* 선물상황 라디오 버튼 */

.situationRadio input[type="radio"]{
    display:none;
}

.situationRadio input[type="radio"] + span{
    display:inline-block;
    background:none;
    cursor:pointer;

    border: 1px solid #E2E2E2;
    border-radius: 4px;
    height: 33px;
    padding:10px;
    gap: 10px;
    margin-right: 12px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    text-align:center;
    color: #8A8A8A;
}

.situationRadio input[type="radio"]:checked + span{
    border: 1.5px solid #4DA360;
    background:#F1F8E9;
    color: #4DA360;
    font-weight: bold;
}