@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

* {
    font-family: 'Noto Sans KR';
    font-style: normal;
}

.container {

    /*width: 360px;
    */

    display: block;
}

.header {
    width: 100%;
    height: 50px;
}

.store-bg-imgs {
    width: 100%;
    height: 160px;
    text-align: center;
}