<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">

<head>
    <!— Google tag (gtag.js) —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HG3BDSNDG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-HG3BDSNDG7');
    </script>
    <!— Google Tag Manager —>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TP7GVLC');</script>
    <!— End Google Tag Manager —>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

</head>

<body class="container">
<!— Google Tag Manager (noscript) —>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP7GVLC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!— End Google Tag Manager (noscript) —>
<div class="head text-left"><span style="color: #4DA360" th:text="${user.region}"></span><span> 꽃집 검색 결과입니다.</span>
</div>
<!-- 필터링 버튼 -->
<div style="display: flex; flex-flow: row wrap; justify-content: flex-end; margin-bottom: 20px">
    <button type="button" class="button-filter" data-toggle="modal" data-target="#popup_filter">
        <span th:if="${#strings.isEmpty(filter.filterColor)}">컬러</span>
        <span th:unless="${#strings.isEmpty(filter.filterColor)}" style="display: flex; justify-content: center;">
        <th:block th:switch="${filter.filterColor}">
            <span th:case=null>컬러</span>
            <svg th:case="red" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#CF0623"/>
            </svg>
            <svg th:case="orange" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#FF9217"/>
            </svg>
            <svg th:case="yellow" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#FFC900"/>
            </svg>
            <svg th:case="blue" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#0058D9"/>
            </svg>
            <svg th:case="purple" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#BE5CE0"/>
            </svg>
            <svg th:case="pink" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="#E36FA2"/>
            </svg>
            <svg th:case="white" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7" fill="white" stroke="#E2E2E2"/>
            </svg>
            <svg th:case="mix" width="15" height="15" viewBox="0 0 15 15" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="7.5" cy="7.5" r="7.5" fill="url(#paint0_linear_1630_4963)"/>
                <defs>
                    <linearGradient id="paint0_linear_1630_4963" x1="7.5" y1="0" x2="7.5" y2="15"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FDE57B"/>
                        <stop offset="0.583333" stop-color="#FE7C59"/>
                        <stop offset="1" stop-color="#FF0030"/>
                    </linearGradient>
                </defs>
            </svg>
        </th:block>
        </span>
        <svg style="margin-left: 10px; line-height: 50px" width="16" height="16" viewBox="0 0 16 16" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6L8 10L12 6" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <button type="button" class="button-filter" data-toggle="modal" data-target="#popup_filter">
        <span th:text="${filter.filterStartPrice} == 0?
        (${filter.filterEndPrice} == 0? '가격' : (${filter.filterEndPrice} == 500000? '가격' : '0원 ~ ' + ${#numbers.formatInteger(filter.filterEndPrice, 3, 'COMMA')} + '원'))
        : ${#numbers.formatInteger(filter.filterStartPrice, 3, 'COMMA') + '원 ~ ' + #numbers.formatInteger(filter.filterEndPrice, 3, 'COMMA')} + '원'"></span>
        <svg style="margin-left: 10px;" width="16" height="16" viewBox="0 0 16 16" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6L8 10L12 6" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>
<div>

    <div class="map" id="map" style="width:100%; height:164px; border-radius: 9px;"></div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8193d9edbd0e8b1ee5251151b97149c3&libraries=services"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({zIndex:1});
        let regionData = [[${code}]]
        let shopData = [[${shopList}]];
        let userData = [[${user.id}]];
        let filterData = [[${filter.id}]]

        function show_shop(shop_id) {
            location.href = "/shop/" + userData + "/" + filterData + "/" + shop_id;
        }

        function getPolygonCentroid(points){
            let centroid = {x: 0, y: 0};
            for(let i = 0; i < points.length; i++) {
                let point = points[i];
                centroid.x += parseFloat(point.x);
                centroid.y += parseFloat(point.y);
            }
            centroid.x /= points.length;
            centroid.y /= points.length;
            return centroid;
        }

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.5642135, 127.0016985), // 지도의 중심좌표
                level: 9 // 지도의 확대 레벨
            };

        // 마커 이미지의 이미지 주소
        var imageSrc = "/images/pin.svg";

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        var point = [];
        // 주소로 좌표를 검색합니다
        for (let i = 0; i < shopData.length; i++) {

            geocoder.addressSearch(shopData[i].shopAddress, function (result, status) {

                // 마커 이미지의 이미지 크기 입니다
                var imageSize = new kakao.maps.Size(24, 35);
                // 마커 이미지를 생성합니다
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    point.push({x : parseFloat(result[0].x), y : parseFloat(result[0].y)});
                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords,
                        image: markerImage
                    });

                    // 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent('<div style="padding: 5px; display: flex; flex-direction: column; align-content: center; "><div style="font-size:12px; font-weight:bolder; text-align: left;">[' + shopData[i].shopName + ']</div>'
                        + '<div style="font-size:11px; text-align: left;"> ' + shopData[i].shopStation + '역에서 도보 ' + shopData[i].shopDistance + '분 </div>'
                        + '<div style="font-size:12px; text-align: left;" >' + '<a href="#" onclick="show_shop(' + shopData[i].id + '); return false;" target="_self" class="link">가게 보기</a></div></div>');

                        infowindow.open(map, marker);
                        });

                    kakao.maps.event.addListener(map, 'click', function () {
                        infowindow.close();(map, marker);
                        });

                    // 마지막 지역이면 중심 설정
                    if(i == shopData.length - 1 && regionData != '0') {
                        let points_center = getPolygonCentroid(point);
                        let coords_center = new kakao.maps.LatLng(points_center.y, points_center.x);
                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords_center);
                    }
                }
            });

        }
        /*]]>*/
    </script>
</div>

<!-- 피드 목록 -->
<div style="display: flex; flex-flow: row wrap; justify-content: center">
    <div class="feed-list-container" th:each="item : ${itemList}">
        <a class="feed-container link"
           th:href="@{/item/{userId}/{filterId}/{itemId}(userId=${user.id}, filterId=${filter.id}, itemId=${item.id})}">
            <img th:if="${itemStat.index &lt; 7}" class="feed-image"
                 th:src="${item.itemImage[0].imagePath}"/>
            <img th:if="${itemStat.index &gt; 6}" class="feed-lazy-image"
                 style="width: 150px; height: 150px; object-fit: cover; border-radius: 4px; margin-bottom: 10px;"
                 th:data-src="${item.itemImage[0].imagePath}"/>
            <div class="feed-shop" th:text="${item.shop.shopName}"></div>
            <div class="feed-item" style="font-size: 16px" th:text="${item.itemName}"></div>
            <div class="feed-price">
                <span data-th-text="${#numbers.formatInteger(item.itemStartPrice, 3, 'COMMA') + '원'}"></span>
                <span th:unless="${item.itemStartPrice == item.itemEndPrice}"
                      data-th-text="${' &#126; ' + #numbers.formatInteger(item.itemEndPrice, 3, 'COMMA') + '원'}"></span>
            </div>
        </a>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages = document.querySelectorAll("img.feed-lazy-image");
        var lazyloadThrottleTimeout;

        function lazyload() {
            if (lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }

            lazyloadThrottleTimeout = setTimeout(function () {
                var scrollTop = window.pageYOffset;
                lazyloadImages.forEach(function (img) {
                    if (img.offsetTop < (window.innerHeight + scrollTop)) {
                        img.src = img.dataset.src;
                        img.classList.remove('feed-lazy-image');
                    }
                });
                if (lazyloadImages.length == 0) {
                    document.removeEventListener("scroll", lazyload);
                    window.removeEventListener("resize", lazyload);
                    window.removeEventListener("orientationChange", lazyload);
                }
            }, 20);
        }

        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
    });
</script>

<!-- 필터링 -->
<div class="modal fade" id="popup_filter">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" style="margin: 36px 20px;">
                <!-- Color -->
                <button type="button" class="close" data-dismiss="modal"><img src="/images/ico-cancel.svg"/></button>
                <div style="font-size: 22px; font-weight: bold; margin-bottom: 36px">필터검색</div>
                <div class="color-filter">
                    <div style="font-size: 15px; font-weight: bold; margin-bottom: 16px">꽃 컬러</div>
                    <div class="filter-group">
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="red"
                                   th:attr="checked=${filter.filterColor} == 'red'">
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#CF0623"/>
                                </svg>
                                <div style="display: inline-block;">빨강계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="orange"
                                   th:attr="checked=${filter.filterColor} == 'orange'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#FF9217"/>
                                </svg>
                                <div style="display: inline-block">주황계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="yellow"
                                   th:attr="checked=${filter.filterColor} == 'yellow'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#FFC900"/>
                                </svg>
                                <div style="display: inline-block;">노랑계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="blue"
                                   th:attr="checked=${filter.filterColor} == 'blue'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#0058D9"/>
                                </svg>
                                <div style="display: inline-block">파랑계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="purple"
                                   th:attr="checked=${filter.filterColor} == 'purple'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#BE5CE0"/>
                                </svg>
                                <div style="display: inline-block">보라계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="pink"
                                   th:attr="checked=${filter.filterColor} == 'pink'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#E36FA2"/>
                                </svg>
                                <div style="display: inline-block">분홍계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="white"
                                   th:attr="checked=${filter.filterColor} == 'white'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7" fill="white" stroke="#E2E2E2"/>
                                </svg>
                                <div style="display: inline-block">흰색계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="mix"
                                   th:attr="checked=${filter.filterColor} == 'mix'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="url(#paint0_linear_1630_4963)"/>
                                    <defs>
                                        <linearGradient id="paint0_linear_1630_4963" x1="7.5" y1="0" x2="7.5" y2="15"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#FDE57B"/>
                                            <stop offset="0.583333" stop-color="#FE7C59"/>
                                            <stop offset="1" stop-color="#FF0030"/>
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <div style="display: inline-block">혼합계열</div>
                            </div>
                        </label>
                        <label>
                            <input class="hidden filter" type="radio" name="color" value="other"
                                   th:attr="checked=${filter.filterColor} == 'other'"/>
                            <div class="filter-div">
                                <svg style="margin-right: 5px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="7.5" cy="7.5" r="7.5" fill="#D6D6D6"/>
                                </svg>
                                <div style="display: inline-block">기타</div>
                            </div>
                        </label>
                    </div>
                </div>

                <!-- Price -->
                <div class="price-filter">
                    <div style="display: flex; justify-content: space-between">
                        <div style="display:inline-block; font-size: 15px; font-weight: bold; margin-bottom: 16px">가격
                        </div>
                        <div class="values">
                                <span id="range1"
                                      th:text="${filter.filterStartPrice} == 0? '0원' : ${#numbers.formatInteger(filter.filterStartPrice, 3, 'COMMA')} + '원'">
                                </span>
                            <span> &#126; </span>
                            <span id="range2"
                                  th:text="${filter.filterEndPrice} == 0? '500,000원' : ${#numbers.formatInteger(filter.filterEndPrice, 3, 'COMMA')} + '원'">
                                </span>
                        </div>
                    </div>
                    <div class="price-group">
                        <div class="slider-track"></div>
                        <input type="range" min="0" max="500000" step="1000"
                               th:value="${filter.filterStartPrice} == 0? 0 : ${filter.filterStartPrice}"
                               id="slider-1"
                               oninput="slideOne()">
                        <input type="range" min="0" max="500000" step="1000"
                               th:value="${filter.filterEndPrice} == 0? 500000 : ${filter.filterEndPrice}"
                               id="slider-2"
                               oninput="slideTwo()">
                    </div>
                </div>
                <!-- 초기화 & 선택완료 Button -->
                <form action="/feed" method="post">
                    <input id="id" type="text" name="id" hidden>
                    <input id="age" type="text" name="age" hidden>
                    <input id="gender" type="text" name="gender" hidden>
                    <input id="region" type="text" name="region" hidden>
                    <input id="code" type="text" name="code" hidden>
                    <input id="color" type="text" name="filterColor" hidden>
                    <input id="start-price" type="text" name="filterStartPrice" hidden>
                    <input id="end-price" type="text" name="filterEndPrice" hidden>
                    <div style="display: flex; justify-content: space-between">
                        <button class="button-back"
                                type="button"
                                style="width: 100%; font-weight: bold; font-size: 16px; margin-right: 20px"
                                onclick="deselect()">초기화
                        </button>
                        <button class="button-next" type="submit"
                                style="width: 100%; font-weight: bold; font-size: 16px" onclick="filter()">선택완료
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    // 가격 슬라이더
    window.onload = function () {
        slideOne();
        slideTwo();
    }

    let sliderOne = document.getElementById("slider-1");
    let sliderTwo = document.getElementById("slider-2");
    let displayValOne = document.getElementById("range1");
    let displayValTwo = document.getElementById("range2");
    let minGap = 0;
    let sliderTrack = document.querySelector(".slider-track");
    let sliderMaxValue = document.getElementById("slider-1").max;

    function slideOne() {
        if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
            sliderOne.value = parseInt(sliderTwo.value) - minGap;
        }
        displayValOne.textContent = sliderOne.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원";
        fillColor();
    }

    function slideTwo() {
        if (parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap) {
            sliderTwo.value = parseInt(sliderOne.value) + minGap;
        }
        displayValTwo.textContent = sliderTwo.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + "원";
        fillColor();
    }

    function fillColor() {
        percent1 = (sliderOne.value / sliderMaxValue) * 100;
        percent2 = (sliderTwo.value / sliderMaxValue) * 100;
        sliderTrack.style.background = `linear-gradient(to right, #E2E2E2 ${percent1}% , #4DA360 ${percent1}% , #4DA360 ${percent2}%, #E2E2E2 ${percent2}%)`;
    }

    // 초기화 버튼
    function deselect() {

        // 컬러 라디오 버튼 해제
        $("input[name='color']").prop('checked', false);

        // 가격 0원 ~ 100000원으로 초기화
        let sliderOne = document.getElementById("slider-1");
        let sliderTwo = document.getElementById("slider-2");
        let displayValOne = document.getElementById("range1");
        let displayValTwo = document.getElementById("range2");
        let sliderTrack = document.querySelector(".slider-track");
        let sliderMaxValue = document.getElementById("slider-1").max;

        sliderOne.value = 0;
        sliderTwo.value = 500000;
        displayValOne.textContent = "0원";
        displayValTwo.textContent = "500,000원";

        percent1 = (sliderOne.value / sliderMaxValue) * 100;
        percent2 = (sliderTwo.value / sliderMaxValue) * 100;
        sliderTrack.style.background = `linear-gradient(to right, #E2E2E2 ${percent1}% , #4DA360 ${percent1}% , #4DA360 ${percent2}%, #E2E2E2 ${percent2}%)`;
    }
</script>
<script th:inline="javascript">

    // 선택 완료 버튼
    function filter() {
        /*<![CDATA[*/
        let idData = [[${user.id}]];
        let ageData = [[${user.age}]];
        let genderData = [[${user.gender}]];
        let regionData = [[${user.region}]];
        let regionCodeData = [[${code}]];
        let colorData = $('input[name=color]:checked').val();
        let startData = document.getElementById("slider-1").value;
        let endData = document.getElementById("slider-2").value;

        colorData = colorData == null ? '' : colorData;

        let idInput = document.getElementById("id");
        let ageInput = document.getElementById("age");
        let genderInput = document.getElementById("gender");
        let regionInput = document.getElementById("region");
        let regionCodeInput = document.getElementById("code");
        let colorInput = document.getElementById("color");
        let startInput = document.getElementById("start-price");
        let endInput = document.getElementById("end-price");

        idInput.setAttribute('value', idData);
        ageInput.setAttribute('value', ageData);
        genderInput.setAttribute('value', genderData);
        regionInput.setAttribute('value', regionData);
        regionCodeInput.setAttribute('value', regionCodeData)
        colorInput.setAttribute('value', colorData);
        startInput.setAttribute('value', startData);
        endInput.setAttribute('value', endData);
        /*]]>*/
    }
</script>
</body>

</html>