<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <!— Google tag (gtag.js) —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HG3BDSNDG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HG3BDSNDG7');
    </script>
    <!— Google Tag Manager —>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP7GVLC');</script>
    <!— End Google Tag Manager —>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

</head>

<body class="container">
<!— Google Tag Manager (noscript) —>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP7GVLC"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!— End Google Tag Manager (noscript) —>
<div class="head text-left" style="font-size: 34px">안녕하세요!<br><span style="color: #FFE000">홀리몰리</span>입니다</div>
<div class="complete-body">
    <p style="font-size: 18px">홀리몰리 서비스 이용 전,<br>이용 방법에 대해 간단히 설명드릴게요!</p>
</div>
<div class="button-fix">
    <button type="button" class="button-next" onclick="location.href='/page2'">반가워&#128075;</button>
</div>
</body>
</html>