<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://.netlify.app/">
    <meta property="og:title" content="HolyMoly">
    <meta property="og:description" content="간편 꽃 예약, 홀리몰리에서 시작하세요">
    <!--    <meta property="og:image" content="title_thumbnail2.png">-->

    <title>HolyMoly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">

</head>


<body class="container">

<div class="header">
    <button type="button" class="left-button">
        <img src="/images/backbtn.png" th:src="@{/images/backbtn.png}" class="back-btn"/>
    </button>
</div>

<!-- 상품 사진 받아오기 -->
<div class="item-img">
    <img id="item-detail-img" src="/images/testimg.png" th:src="@{/images/testimg.png}">
</div>


<!-- 상품이름 / 상품가격 받아오기 -->
<div class="border_bottom" id="item-head">
    <div class="item-title" data-th-text="${item.itemName}"></div>
    <div class="item-price">
        <span data-th-text="${#numbers.formatInteger(item.itemStartPrice, 3, 'COMMA') + '원'}"></span>
        <span th:if="${item.itemStartPrice == item.itemEndPrice}" data-th-text="${' &#126; ' + #numbers.formatInteger(item.itemEndPrice, 3, 'COMMA') + '원'}"></span>
    </div>
</div>


<!-- 가게정보 받아오기 -->
<div class="border_bottom" id="item-shop">

    <!-- 가게 소개 -->
        <div class="shop_info horizontal-div horizontal-div-center">
        <img class="feed-image" th:src="${#lists.size(item.itemImage) == 0? '' : item.itemImage[0].imagePath}"/>
            <!--가게 이미지-->
            <div class="shop-img-box">
                <img class="div-in-img" alt="가게이미지" src="/images/testimg.png" th:src="@{/images/testimg.png}"/>
            </div>
            <!--가게이름-->
            <div class="item-subtitle" data-th-text="${item.shop.shopName}"></div>
            <!--가게 바로가기 버튼-->
            <a th:href="@{/item/{userId}/{filterId}/{itemId}/{shopId}(userId=${userId}, filterId=${filterId}, itemId=${item.id}, shopId=${item.shop.id})}">
            <button type="button" class="button-shop">
                <img class="div-in-img" src="/images/chevron-right.png" th:src="@{/images/chevron-right.png}"/>
            </button>
            </a>
        </div>

    <!-- 주소 -->
    <div class="shop_address">
        <div class="horizontal-div horizontal-div-center">
            <div>
                <img class="vector-img" src="/images/map-pin.png" th:src="@{/images/map-pin.png}"/>
            </div>
            <!--주소-->
            <div class="shop-detail-text shop-detail-text-address" data-th-text="${item.shop.shopAddress}"></div>
            <!--주소 위치보기 버튼-->
            <button type="button" class="green-button">위치 보기</button>
        </div>

    </div>

    <!-- 영업시간 -->
    <div class="shop_time horizontal-div horizontal-div-flex-start">
        <div>
            <img class="vector-img" src="/images/clock.png" th:src="@{/images/clock.png}"/>
        </div>
        <!--영업시간-->
        <div class="shop-detail-text shop-detail-text-time" th:utext="${#strings.replace(item.shop.shopTime, '\n', '&lt;br/&gt;')}"></div>
    </div>

</div>


<!-- 상품정보 받아오기 -->
<div class="border_bottom_none item-info" id="item-body">
    <div class="item-subtitle">상품 정보</div>
    <!--상품 설명-->
    <div class="item-intro" data-th-text="${item.itemDesc}"></div>

</div>


<!--예약하기 버튼 -->
<form action="/order1" method="post">
    <!-- 정보 넘기기 hidden-->
    <input id="userId" type="text" name="userId" th:value="${userId}" hidden>
    <input id="filterId" type="text" name="filterId" th:value="${filterId}" hidden>
    <input id="shopId" type="text" name="shopId" th:value="${shopId}" hidden>
    <input id="itemId" type="text" name="itemId" th:value="${itemId}" hidden>

    <button type="button" class="button-next" data-toggle="modal" data-target="#alert_modal" style="width: 100%">예약하기</button>

    <!-- 모달 -->
    <div class="modal fade modal-sheet position-static d-block bg-secondary py-5" id="alert_modal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <button type="button"  name="modal-close" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <img class="close-btn" src="/images/closebtn.png" th:src="@{/images/closebtn.png}"/>
                    </button>
                    <h5 class="modal-title">꽃집에 들어오는<br><span style="color: #4DA360; font-weight: 700">꽃의 종류</span>는 매일매일 달라요</h5>
                </div>

                <div class="modal-body"  style="margin: auto">
                    <p>사진과 동일한 꽃다발이 아닐 수 있어요.<br>플로리스트님께서 예쁘게 만들어주실거에요!</p>
                    <img class="img-send" src="../static/images/florist_img.png" th:src="@{/images/florist_img.png}"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-send">이해했어요!</button>
                </div>
            </div>
        </div>
    </div>

</form>

</body>

</html>