<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">

</head>


<body class="container">

<div class="header">
    <button type="button" class="left-button" onclick="history.back()">
        <img src="/images/backbtn.svg" th:src="@{/images/backbtn.svg}" class="back-btn"/>
    </button>
</div>

<!-- 상품 사진 받아오기 -->
<!-- carousel를 구성할 영역 설정 -->
<div style="width: 100%; height: 360px; text-align: center;">
    <!-- carousel를 사용하기 위해서는 class에 carousel와 slide 설정한다. -->
    <div id="carousel-example-generic" class="carousel slide">
        <!-- carousel의 지시자 -->
        <ol class="carousel-indicators">
            <!-- li는 이미지 개수만큼 추가하고 data-target은 carousel id를 가르킨다. -->
            <!-- data-slide-to는 순서대로 0부터 올라가고 0은 active를 설정한다. -->
            <th:block th:if="${#lists.size(item.itemImage) != 0}" th:each="image : ${item.itemImage}">
                <li data-target="#carousel-example-generic" th:attr="data-slide-to=${imageStat.index}"
                    th:classappend="${imageStat.first}?'active' : ''"></li>
            </th:block>
        </ol>
        <!-- 실제 이미지 아이템 -->
        <div class="carousel-inner">
            <th:block th:if="${#lists.size(item.itemImage) != 0}" th:each="image : ${item.itemImage}">
                <div class="item" style="width: 100%; height: 360px; text-align: center;"
                     th:classappend="${imageStat.first}?'active' : ''">
                    <!-- 아미지 설정- -->
                    <img class="d-block" style="width: 100%; height: 100%; object-fit: cover;"
                         th:src="${image.imagePath}">
                </div>
            </th:block>
        </div>
        <!-- 왼쪽 화살표 버튼 -->
        <a class="left carousel-control"
           href="#carousel-example-generic"
           role="button" data-slide="prev">
            <!-- 왼쪽 화살표 -->
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <!-- 오른쪽 화살표 버튼 -->
        <a class="right carousel-control"
           href="#carousel-example-generic" role="button"
           data-slide="next">
            <!-- 오른쪽 화살표 -->
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</div>


<!-- 상품이름 / 상품가격 받아오기 -->
<div class="border_bottom" id="item-head">
    <div class="item-title" data-th-text="${item.itemName}"></div>
    <div class="item-price">
        <span data-th-text="${#numbers.formatInteger(item.itemStartPrice, 3, 'COMMA') + '원'}"></span>
        <span th:unless="${item.itemStartPrice == item.itemEndPrice}"
              data-th-text="${' &#126; ' + #numbers.formatInteger(item.itemEndPrice, 3, 'COMMA') + '원'}"></span>
    </div>

    <div class="item-warn">* 가격 범위 내에서 주문자의 선택 가격으로 꽃다발 제작이 이루어집니다. 꽃의 시세에 따라 꽃의 수, 종류에 차이가 있을 수 있습니다.</div>
</div>


<!-- 가게정보 받아오기 -->
<div class="border_bottom" id="item-shop">
    <a class="shop-link"
       th:href="@{/item/{userId}/{filterId}/{itemId}/{shopId}(userId=${userId}, filterId=${filterId}, itemId=${item.id}, shopId=${item.shop.id})}">

        <!-- 가게 소개 -->

        <div class="shop_info horizontal-div horizontal-div-center">
            <!--가게 이미지-->
            <div class="shop-img-box">
                <img class="div-in-img" alt="가게이미지" th:src="${item.shop.shopImage}"/>
            </div>

            <!--가게이름-->
            <div class="item-subtitle" data-th-text="${item.shop.shopName}"></div>
            <!--가게 바로가기 버튼-->
            <button type="button" class="button-shop">
                <img src="/images/chevron-right.svg" th:src="@{/images/chevron-right.svg}"/>
            </button>
        </div>
    </a>

    <!-- 주소 -->
    <div class="shop_address">
        <div class="horizontal-div horizontal-div-center">
            <div>
                <img class="vector-img" src="/images/map-pin.png" th:src="@{/images/map-pin.png}"/>
            </div>
            <!--주소-->
            <div class="shop-detail-text shop-detail-text-address" data-th-text="${item.shop.shopAddress}" style="margin-right: 10px"></div>
            <!--주소 위치보기 버튼-->
            <a class="green-button horizontal-div-right" th:href="${item.shop.shopLink}">
                <div style="color: #4DA360">위치 보기</div>
            </a>
        </div>

    </div>

    <!-- 영업시간 -->
    <div class="shop_time horizontal-div horizontal-div-flex-start">
        <div>
            <img class="vector-img" src="/images/clock.png" th:src="@{/images/clock.png}"/>
        </div>
        <!--영업시간-->
        <div class="shop-detail-text shop-detail-text-time"
             th:utext="${#strings.replace(#strings.escapeXml(item.shop.shopTime),'&#10;','&lt;br&gt;')}"></div>
    </div>

</div>


<!-- 상품정보 받아오기 -->
<div class="border_bottom_none item-info" id="item-body">
    <div class="item-subtitle">참고 사항</div>
</div>
<div class="warn-head">⚪ 환불 및 취소 정보</div>
<br>
<div class="warn-content">결제 이후에는 환불 및 취소, 상품 변경이 불가하오니 신중한 결정 부탁드립니다. 픽업 일자 변경은 꽃집의 운영 일정을 고려하여 조율됩니다. </div>
<br><br>
<div class="warn-head">⚪ 추가 사항</div>
<br>
<div class="warn-content">* 꽃집에 들어오는 꽃의 종류는 매일매일 다릅니다. 사진과 똑같은 꽃다발이 아닐 수 있습니다.</div>
<br>
<div class="warn-content">* 상대적으로 여름에는 꽃들의 얼굴이 작아 같은 양의 꽃이더라도 부피가 다른 계절보다 작을 수 있습니다.</div>
<br>
<div class="warn-content">* 특히나 겨울>봄인 성수기 시즌에는 꽃값이 저렴하지 않아 타 계절과의 가격&사이즈 차이가 날 수 있습니다.</div>
<br>
<div class="warn-content">* 특정 꽃은 계절에 따라 나오지 않습니다. </div>
<br><br>
<div th:if="${not #strings.isEmpty(item.itemDesc)}" class="warn-head">⚪ 상품 설명</div>
<br>
<!--상품 설명-->
<div class="warn-content" style="margin-bottom: 120px;" th:utext="${#strings.replace(#strings.escapeXml(item.itemDesc),'&#10;','&lt;br&gt;')}"></div>

<!--예약하기 버튼 -->
<form action="/order1" method="post">
    <!-- 정보 넘기기 hidden-->
    <input id="userId" type="text" name="userId" th:value="${userId}" hidden>
    <input id="filterId" type="text" name="filterId" th:value="${filterId}" hidden>
    <input id="shopId" type="text" name="shopId" th:value="${shopId}" hidden>
    <input id="itemId" type="text" name="itemId" th:value="${itemId}" hidden>

    <div class="button-fix">
        <button type="button" class="button-next" data-toggle="modal" data-target="#alert_modal">예약하기</button>
    </div>
    <!-- 모달 -->
    <div class="modal fade modal-sheet position-static d-block bg-secondary py-5" id="alert_modal"
         data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/ico-cancel.svg"/></button>
                    <h5 class="modal-title">꽃집에 들어오는<br><span style="color: #4DA360; font-weight: 700">꽃의 종류</span>는
                        매일매일 달라요</h5>
                </div>

                <div class="modal-body" style="margin: auto">
                    <p>사진과 동일한 꽃다발이 아닐 수 있어요.<br>플로리스트님께서 예쁘게 만들어주실거에요!</p>
                    <img class="img-send" src="../static/images/florist_img.png"
                         th:src="@{/images/florist_img.png}"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-send">이해했어요!</button>
                </div>
            </div>
        </div>
    </div>

</form>

</body>

</html>