<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://.netlify.app/">
    <meta property="og:title" content="HolyMoly">
    <meta property="og:description" content="간편 꽃 예약, 홀리몰리에서 시작하세요">
    <!--    <meta property="og:image" content="title_thumbnail2.png">-->

    <title>HolyMoly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="/css/order_info.css" th:href="@{/css/order_info.css}">
    <!--
    <script src="../static/orderer_valid.js"></script>
-->


</head>

<body class="container">

<form action="/order-sheet" method="post">

    <!-- 정보 넘기기 hidden-->
    <input id="userId" type="text" name="userId" th:value="${userId}" hidden>
    <input id="filterId" type="text" name="filterId" th:value="${filterId}" hidden>
    <input id="shopId" type="text" name="shopId" th:value="${shopId}" hidden>
    <input id="itemId" type="text" name="itemId" th:value="${itemId}" hidden>

    <input id="reservationPrice" type="text" name="reservationPrice" th:value="${reservationPrice}" hidden>
    <input id="reservationPickupDate" type="date" name="reservationPickupDate" th:value="${reservationPickupDate}" hidden>
    <input id="reservationPickupTime" type="text" name="reservationPickupTime" th:value="${reservationPickupTime}" hidden>

    <input id="reservationAdding" type="text" name="reservationAdding" th:value="${reservationAdding}" hidden>
    <input id="reservationMsgCard" type="text" name="reservationMsgCard" th:value="${reservationMsgCard}" hidden>
    <input id="reservationSituation" type="text" name="reservationSituation" th:value="${reservationSituation}" hidden>


    <!-- 새정보 -->

    <div class="head text-left"><span style="color: #4DA360">주문자 정보</span><span>를 입력해주세요.</span></div>
    <div class="form-title">이름<span style="color: #FF0000"> *</span></div>
    <div class="form-group">
        <input type="text" name="reservationOrdererName" class="form-control" placeholder="홍길동" required>
    </div>

    <div class="form-title">전화번호<span style="color: #FF0000"> *</span></div>
    <div class="form-group">
        <input type="text" name="reservationOrdererPhone" class="form-control" placeholder="01012345678 (-를 제외한 숫자만 입력해주세요.)" required>
    </div>
    <div class="form-alert">✓  전화번호를 정확히 입력하지 않으면 주문이 들어가지 않아요!<br>원활한 주문 접수를 위해 전화번호 입력 후 확인 부탁드려요!</div>

    <!--약관-->
    <div class="term-group">

        <div class="term-div horizontal-div horizontal-div-center">
            <div class="term-title">약관 전체동의</div>
            <div class="horizontal-div-right">
                <input type="checkbox" id="all_check" class="term-check horizontal-div-right">
            </div>
        </div>

        <div class="border_bottom_thin"></div>

        <div class="term-div horizontal-div horizontal-div-center">
            <div class="term-title">이용약관 동의 (필수)</div>
            <button type="button" class="clear-btn term-button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 12L10 8L6 4" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="horizontal-div-right">
                <input type="checkbox" id="check1" class="term-check horizontal-div-right" required>
            </div>
        </div>

        <div class="term-div horizontal-div horizontal-div-center">
            <div class="term-title">개인정보 수집 및 이용 동의 (필수)</div>
            <button type="button" class="clear-btn term-button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 12L10 8L6 4" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="horizontal-div-right">
                <input type="checkbox" id="check2" class="term-check" required>
            </div>
        </div>

        <div class="term-div horizontal-div horizontal-div-center">
            <div class="term-title">E-mail 및 SNS 광고성 정보 수신동의 (선택)</div>
            <button type="button" class="clear-btn term-button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 12L10 8L6 4" stroke="#8A8A8A" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="horizontal-div-right">
                <input type="checkbox" id="check3" name="reservationTerm" value="선택 동의함" class="term-check">
            </div>
        </div>

    </div>

    <div class="button-group">
        <button type="button" class="button-back" style="width: 100%; margin-right: 10px" onclick="history.back()">이전</button>
        <button type="submit" class="button-next" style="width: 100%">다음</button>
    </div>

</form>

</body>

<script type="text/javascript">

</script>

</html>