<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <!— Google tag (gtag.js) —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HG3BDSNDG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HG3BDSNDG7');
    </script>
    <!— Google Tag Manager —>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP7GVLC');</script>
    <!— End Google Tag Manager —>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="/css/order_info.css" th:href="@{/css/order_info.css}">
    <!--
    <script src="../static/orderer_valid.js"></script>
-->


</head>

<body class="container">


<form action="/order-complete" method="post">

    <!-- 주문내역 출력 -->

    <!--head-->
    <div class="sheet-head">예약확인서</div>
    <div class="sheet-head-price" th:text="${reservationPrice}"></div>

    <!--상품 정보-->
    <div class="sheet-body-item horizontal-div-flex-start">
        <div class="item-img-div">
            <img class="feed-image" th:src="${item.itemImage[0].imagePath}"/>
        </div>

        <div class="sheet-body-item-text">
            <div class="sheet-body-item-text-div mt-8" th:text="${item.itemName}"></div>
            <div class="sheet-body-item-text-div mt-8" th:text="${item.shop.shopName}"></div>
        </div>

    </div>

    <div class="border_bottom_thin" style="margin-top: 20px"></div>

    <!--필수 정보-->
    <div class="sheet-body-order" id="sheet-body-order1">

        <div class="order-div">
            <div class="order-key">주문자 이름</div>
            <div class="order-value" th:text="${reservationOrdererName}"></div>
        </div>

        <div class="order-div">
            <div class="order-key">전화번호</div>
            <div class="order-value" th:text="${reservationOrdererPhone}"></div>
        </div>

        <div class="order-div">
            <div class="order-key">픽업 일자</div>
            <div class="order-value" th:text="${reservationPickupDate}"></div>
        </div>

        <div class="order-div">
            <div class="order-key">픽업 시간</div>
            <div class="order-value" th:text="${reservationPickupTime}"></div>
        </div>

    </div>

    <div class="border_bottom_thin" style="margin-top: 20px"></div>

    <!--선택 정보-->
    <div class="sheet-body-order" id="sheet-body-order2">
        <div class="order-div">
            <div class="order-key">추가 입력 사항</div>
            <div class="order-value" th:text="${reservationAdding}"></div>
        </div>

        <div class="order-div">
            <div class="order-key">선물 상황</div>
            <div class="order-value" th:text="${reservationSituation}"></div>
        </div>

        <div class="order-div">
            <div class="order-key">메세지 카드</div>
            <div class="order-value" th:text="${reservationMsgCard}"></div>
        </div>

    </div>

    <!-- 정보 넘기기 hidden-->
    <input id="userId" type="text" name="userId" th:value="${userId}" hidden>
    <input id="filterId" type="text" name="filterId" th:value="${filterId}" hidden>
    <input id="shopId" type="text" name="shopId" th:value="${shopId}" hidden>
    <input id="itemId" type="text" name="itemId" th:value="${itemId}" hidden>

    <input id="reservationPrice" type="text" name="reservationPrice" th:value="${reservationPrice}" hidden>
    <input id="reservationPickupDate" type="date" name="reservationPickupDate" th:value="${reservationPickupDate}" hidden>
    <input id="reservationPickupTime" type="text" name="reservationPickupTime" th:value="${reservationPickupTime}" hidden>

    <input id="reservationAdding" type="text" name="reservationAdding" th:value="${reservationAdding}" hidden>
    <input id="reservationMsgCard" type="text" name="reservationMsgCard" th:value="${reservationMsgCard}" hidden>
    <input id="reservationSituation" type="text" name="reservationSituation" th:value="${reservationSituation}" hidden>

    <input id="reservationOrdererName" type="text" name="reservationOrdererName" th:value="${reservationOrdererName}" hidden>
    <input id="reservationOrdererPhone" type="text" name="reservationOrdererPhone" th:value="${reservationOrdererPhone}" hidden>
    <input id="reservationTerm" type="text" name="reservationTerm" th:value="${reservationTerm}" hidden>



    <div class="button-group">
        <button type="button" class="button-back" style="width: 100%; margin-right: 10px" onclick="history.back()">이전</button>
        <button type="button" class="button-next" style="width: 100%" data-toggle="modal" data-target="#order_modal">다음</button>
    </div>

    <!-- 모달 -->
    <div class="modal fade modal-sheet position-static d-block bg-secondary py-5" id="order_modal"  data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><img src="/images/ico-cancel.svg"/></button>
                    <h5 class="modal-title">플로리스트님께 실제로<br><span style="color: #4DA360; font-weight: 700">예약이 전송</span>됩니다.</h5>
                </div>

                <div class="modal-body"  style="margin: auto">
                    <p>확인 후 전송하기를 눌러주세요!</p>
                    <img class="img-send" src="/images/sendimg.png" th:src="@{/images/sendimg.png}"/>
                </div>
                <div class="modal-footer" style="padding-bottom: 20px">
                    <button type="submit" class="btn-send">전송하기</button>
                </div>
            </div>
        </div>
    </div>

</form>

</body>

</html>