<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://.netlify.app/">
    <meta property="og:title" content="HolyMoly Explanation">
    <meta property="og:description" content="설명 페이지입니다.">
    <!--    <meta property="og:image" content="title_thumbnail2.png">-->

    <title>HolyMoly</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

</head>

<body class="container">
<div class="head text-left"><span style="color: #FFE000">픽업 지역</span>을<br>정해요!</div>
<div class="complete-body">
    <p>설정하신 지역을 기반으로<br>꽃집의 꽃상품을 확인하실 수 있어요.</p>
</div>
<div class="button-fix">
    <button type="button" class="button-next" onclick="location.href='/page3'">그렇구나&#128516;</button>
</div>
</body>
</html>