<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">

<head>
    <!— Google tag (gtag.js) —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HG3BDSNDG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HG3BDSNDG7');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="stylesheet" href="/css/order_info.css" th:href="@{/css/order_info.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">

</head>

<body class="container">
<div class="head text-left" style="font-size: 34px">이 꽃다발 예쁘네!</div>
<div class="complete-body">
    <p style="font-size: 18px">마음에 드는 꽃다발을 선택한 다음,<br>예약하기를 눌러주세요!</p>
</div>
<div class="complete-body" style="text-decoration: underline;">
    <p style="font-size: 18px" onclick="location.href='/gender'">건너뛰기</p>
</div>
<div style="display: flex; justify-content: center">
    <img class="img-page" src="/images/page3.svg" th:src="@{/images/page3.svg}"/>
</div>
<div class="button-fix">
    <button type="button" class="button-next" onclick="location.href='/page4'">알겠어&#128076;</button>
</div>
</body>
</html>