<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:nl2br="http://www.w3.org/1999/xhtml">
<head>
    <!— Google tag (gtag.js) —>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HG3BDSNDG7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HG3BDSNDG7');
    </script>
    <!— Google Tag Manager —>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TP7GVLC');</script>
    <!— End Google Tag Manager —>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">
</head>
<body class="container">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TP7GVLC"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- 쿠폰 홍보-->



<div class="head text-left"><span style="color: #4DA360">픽업지역</span><span>을 입력해주세요.</span></div>
<div class="region-group">
    <label style="width: 100%; margin-right: 12px">
        <input class="code" hidden type="radio" name="code" value="0"/>
        <div class="code-div">서울 전체</div>
    </label>
    <label style="width: 100%;">
        <input class="code" hidden type="radio" name="code" value="1"/>
        <div class="code-div">강서 / 영등포</div>
    </label>
</div>

<div class = "region-group">
    <label style="width: 100%; margin-right: 12px">
        <input class="code" hidden type="radio" name="code" value="2"/>
        <div class="code-div">마포 / 서대문</div>
    </label>
    <label style="width: 100%">
        <input class="code" hidden type="radio" name="code" value="3"/>
        <div class="code-div">종로 / 중구</div>
    </label>
</div>

<div class = "region-group">
    <label style="width: 100%; margin-right: 12px">
        <input class="code" hidden type="radio" name="code" value="4"/>
        <div class="code-div">용산 / 성동</div>
    </label>
    <label style="width: 100%;">
        <input class="code" hidden type="radio" name="code" value="5"/>
        <div class="code-div">관악 / 동작</div>
    </label>
</div>

<div class = "region-group">
    <label style="width: 100%; margin-right: 12px">
        <input class="code" hidden type="radio" name="code" value="6"/>
        <div class="code-div">도봉 / 노원 / 강북</div>
    </label>
    <label style="width: 100%">
        <input class="code" hidden type="radio" name="code" value="7"/>
        <div class="code-div">중랑 / 강동 / 광진</div>
    </label>
</div>
<div class="region-group">
    <label style="width: 100%; margin-right: 12px">
        <input class="code" hidden type="radio" name="code" value="8"/>
        <div class="code-div">강남 / 서초 / 송파</div>
    </label>
    <div style="width: 100%"></div>
</div>

<form action="/feed" method="post">
    <input id="age" type="text" name="age" value=0 hidden>
    <input id="gender" type="text" name="gender" value=0 hidden>
    <input id="region" type="text" name="region" hidden>
    <input id="code" type="text" name="code" hidden>
    <div class="button-group" style="display: flex; justify-content: space-between; margin-top: 50px;">
        <button class="button-back" type="button" style="width: 100%; margin-right: 10px" onclick="history.back()">이전
        </button>
        <button class="button-next" type="submit" style="width: 100%;" onclick="userData()">다음</button>
    </div>
</form>
<script th:inline="javascript">

    // 나이, 성별, 지역 데이터
    function userData() {
        /*<![CDATA[*/
        let regionData = $('input[name=code]:checked+.code-div').text();
        let regionCodeData = $('input[name=code]:checked').val();
        regionData = regionData == null ? '전체' : regionData;
        regionCodeData = regionCodeData == null ? '0' : regionCodeData;

        let regionInput = document.getElementById("region");
        let regionCodeInput = document.getElementById("code");

        regionInput.setAttribute('value', regionData);
        regionCodeInput.setAttribute('value', regionCodeData);
        /*]]>*/
    }

</script>

</body>
</html>