<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://.netlify.app/">
    <meta property="og:title" content="HolyMoly">
    <meta property="og:description" content="간편 꽃 예약, 홀리몰리에서 시작하세요">

    <title>HolyMoly</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">
    <!--
        <script type="text/javascript" defer src="order_valid.js"></script>
    -->

</head>

<body class="container">

<div class="header">
    <button type="button" class="left-button">
        <img src="/images/backbtn.png" th:src="@{/images/backbtn.png}" class="back-btn"/>
    </button>
</div>

<!-- 가게 배경 사진 받아오기 -->
<div class="store-bg-imgs">
    <img id="store-bg-imgs" src="/images/store_bg_img.png" th:src="@{/images/store_bg_img.png}" />
</div>

<!-- 가게 프로필 사진 받아오기 -->
<div class="store-profile-imgs">
    <img id="store-profile-imgs" src="/images/store_profile_img.png" th:src="@{/images/store_profile_img.png}" />
</div>

<!-- 가게 이름 받아오기 -->
<div class="store-profile-title" id="store_profile_title">가게 이름

</div>

<div class="store-number">
    <div class="horizontal-div horizontal-div-center">
        <div>
            <img class="vector-img" src="/images/store_number_imgs.png" th:src="@{/images/store_number_imgs.png}"/>
        </div>
        <div class="shop-detail-text shop-detail-text-address">02-853-8092</div>
    </div>
</div>

<div class="shop_address">
    <div class="horizontal-div horizontal-div-center">
        <div>
            <img class="vector-img" src="/images/map-pin.png" th:src="@{/images/map-pin.png}"/>
        </div>
        <div class="shop-detail-text shop-detail-text-address"></div>
        <button type="button" class="green-button"></button>
    </div>
</div>

<!-- 영업시간 -->
<div class="store-time">
<div class="shop_time horizontal-div horizontal-div-flex-start">
    <div>
        <img class="vector-img" src="/images/clock.png" th:src="@{/images/clock.png}"/>
    </div>
    <div class="shop-detail-text shop-detail-text-time"></div>
</div>
</div>

<!-- 포트폴리오 -->
<div style="display: flex; flex-flow: row wrap; justify-content: center;">
    <div class="feed-list-container" th:each="item : ${itemList}">
        <a class="feed-container link"
           th:href="@{/item/{userId}/{filterId}/{itemId}(userId=${userId}, filterId=${filterId}, itemId=${item.id})}">
            <img class="feed-image" th:src="${#lists.size(item.itemImage) == 0? '' : item.itemImage[0].imagePath}"/>
            <div class="feed-shop" th:text="${item.shop.shopName}"></div>
            <div class="feed-item" th:text="${item.itemName}"></div>
            <div class="feed-price">
                <span data-th-text="${#numbers.formatInteger(item.itemStartPrice, 3, 'COMMA') + '원'}"></span>
                <span th:unless="${item.itemStartPrice == item.itemEndPrice}" data-th-text="${' &#126; ' + #numbers.formatInteger(item.itemEndPrice, 3, 'COMMA') + '원'}"></span>
            </div>
        </a>
    </div>
</div>

</body>
</html>