<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amazing-avocado.co.kr">
    <meta property="og:title" content="holymoly">
    <meta property="og:description" content="소중한 사람에게, 꿈같은 하루를🌼">
    <meta property="og:image" content="/images/HolyMoly.png">

    <title>holymoly</title>
    <link rel="shortcut icon" href="/images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/holymoly_favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/store_detail.css" th:href="@{/css/store_detail.css}">
    <link rel="stylesheet" href="/css/item_detail.css" th:href="@{/css/item_detail.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap"
          rel="stylesheet">
</head>

<body class="container">

<div class="header">
    <button type="button" class="left-button" onclick="history.back()">
        <img src="/images/backbtn.svg" th:src="@{/images/backbtn.svg}" class="back-btn"/>
    </button>
</div>

<!-- 가게 배경 사진 받아오기 -->
<div class="store-bg-imgs">
    <img id="store-bg-detail-imgs" th:src="${shop.shopBgImage}"/>
</div>

<!-- 가게 프로필 사진 받아오기 -->
<div class="store-profile-imgs">
    <img class="store-profile-imgs" style="width: 67px; height: 67px; border-radius: 50%;"
         th:src="${shop.shopImage}"/>
</div>

<!-- 가게 이름 받아오기 -->
<div class="store-profile-title" data-th-text="${shop.shopName}"></div>

<div class="store-number">
    <div class="horizontal-div horizontal-div-center">
        <div>
            <img class="vector-img" src="/images/store_number_imgs.svg" th:src="@{/images/store_number_imgs.svg}"/>
        </div>
        <div class="shop-detail-text shop-detail-text-address"><a th:each="phone : ${#strings.arraySplit(#strings.escapeXml(shop.shopPhone),'&#10;')}" th:href="'tel:'+${phone}"><span
                th:utext="${phone}"></span><br></a></div>
    </div>
</div>

<!-- 주소 -->
<div class="shop_address">
    <div class="horizontal-div horizontal-div-center">
        <div>
            <img class="vector-img" src="/images/map-pin.png" th:src="@{/images/map-pin.png}"/>
        </div>
        <!--주소-->
        <div class="shop-detail-text shop-detail-text-address" data-th-text="${shop.shopAddress}" style="margin-right: 10px"></div>
        <!--주소 위치보기 버튼-->
        <a class="green-button horizontal-div-right" th:href="${shop.shopLink}" >
            <div style="color: #4DA360">위치 보기</div>
        </a>
    </div>

    <div class="map" id="map" style="width:100%; height:128px;"></div>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8193d9edbd0e8b1ee5251151b97149c3&libraries=services"></script>
    <script type="text/javascript">

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('[[${shop.shopAddress}]]', function (result, status) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);
            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage("/images/pin.svg", imageSize);

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    image: markerImage
                });

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });
    </script>
</div>

<!-- 영업시간 -->
<div class="shop_time horizontal-div horizontal-div-flex-start">
    <div>
        <img class="vector-img" src="/images/clock.png" th:src="@{/images/clock.png}"/>
    </div>
    <!--영업시간-->
    <div class="shop-detail-text shop-detail-text-time"
         th:utext="${#strings.replace(#strings.escapeXml(shop.shopTime),'&#10;','&lt;br&gt;')}"></div>
</div>

<div class="border_bottom_1">
</div>

<!-- 포트폴리오 -->
<div style="width: 100%; display: flex; flex-flow: row wrap; justify-content: center;">
    <div class="feed-list-container" th:each="item : ${itemList}">
        <a class="feed-container link"
           th:href="@{/item/{userId}/{filterId}/{itemId}(userId=${userId}, filterId=${filterId}, itemId=${item.id})}">
            <img class="feed-image" th:src="${#lists.size(item.itemImage) == 0? '' : item.itemImage[0].imagePath}"/>
            <div class="feed-shop" th:text="${item.shop.shopName}"></div>
            <div class="feed-item" th:text="${item.itemName}"></div>
            <div class="feed-price">
                <span data-th-text="${#numbers.formatInteger(item.itemStartPrice, 3, 'COMMA') + '원'}"></span>
                <span th:unless="${item.itemStartPrice == item.itemEndPrice}"
                      data-th-text="${' &#126; ' + #numbers.formatInteger(item.itemEndPrice, 3, 'COMMA') + '원'}"></span>
            </div>
        </a>
    </div>
</div>

</body>
</html>