<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="/css/order_info.css" th:href="@{/css/order_info.css}">
</head>
<body>

<div class="table">
  <div class="table-row horizontal-div">
    <div class="cell-title">서비스 이용</div>
    <div class="cell-value">(필수) 나이, 성별</div>
  </div>
  <div class="table-row horizontal-div">
    <div class="cell-title">예약</div>
    <div class="cell-value">(필수) 이름, 휴대폰번호, 주문내역, 카카오톡 주문자 식별값</div>
  </div>
  <div class="table-row horizontal-div">
    <div class="cell-title">상담·민원</div>
    <div class="cell-value">상담톡 이용 시:(필수) 카카오톡 주문자 식별값, 채팅내용, 필요 시 본인을 위한 정보(휴대폰 번호, 이메일 주소)</div>
  </div>
  <div class="table-row horizontal-div">
    <div class="cell-title">자동 생성 정보</div>
    <div class="cell-value">(필수) EX. 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 주소, 긱정보(모델명, OS 버전, 기기고유번호), 광고 ID</div>
  </div>
  <div class="table-row horizontal-div">
    <div class="cell-title">이벤트 참여 및 당첨</div>
    <div class="cell-value">(선택) 이메일 주소, 휴대폰번호, 계좌번호<br>* 이벤트마다 수집 항목이 다를 수 있으며, 별도 동의를 받습니다.</div>
  </div>
</div>

</body>
</html>